<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand" href="#about">
        <span class="d-block d-lg-none">Jan Mesarc</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/profile1.jpg" alt="My profile image" /></span>
    </a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="@GetNavLinkClass(AboutSection)" href="#about" @onclick='() => OnNavItemClick(AboutSection)'>
                    <i class="fa-solid fa-address-card"></i> About
                </a>
            </li>
            <li class="nav-item">
                <a class="@GetNavLinkClass(ExperienceSection)" href="#experience" @onclick='() => OnNavItemClick(ExperienceSection)'>
                    <i class="fa-solid fa-briefcase"></i> Experience
                </a>
            </li>
            <li class="nav-item">
                <a class="@GetNavLinkClass(ProjectsSection)" href="#projects" @onclick='() => OnNavItemClick(ProjectsSection)'>
                    <i class="fa-solid fa-diagram-project"></i> Projects
                </a>
            </li>
            <li class="nav-item">
                <a class="@GetNavLinkClass(EducationSection)" href="#education" @onclick='() => OnNavItemClick(EducationSection)'>
                    <i class="fa-solid fa-graduation-cap"></i> Education
                </a>
            </li>
            <li class="nav-item">
                <a class="@GetNavLinkClass(SkillsSection)" href="#skills" @onclick='() => OnNavItemClick(SkillsSection)'>
                    <i class="fa-solid fa-kitchen-set"></i> Skills
                </a>
            </li>
            <li class="nav-item">
                <a class="@GetNavLinkClass(InterestsSection)" href="#interests" @onclick='() => OnNavItemClick(InterestsSection)'>
                    <i class="fa-solid fa-timeline"></i> Interests
                </a>
            </li>
            <li>
                <hr style="color: white" />
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" @onclick='() => OnNavItemClick(null)' href="fetchgithubdata" Match="NavLinkMatch.All">
                    <i class="fa-brands fa-github-alt"></i> Public Repositories
                </NavLink>
            </li>
        </ul>
    </div>
    <div class="d-none d-lg-block p-2">
        <a class="social-icon" target="_blank" rel="noopener" href="https://www.buymeacoffee.com/jame581">
            <img class="img-fluid" src="assets/black-button.png" alt="Buy me a coffe" />
        </a>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? activeSection = AboutSection;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleNavMenuMobile()
    {
        if (!collapseNavMenu)
        {
            collapseNavMenu = true;
        }
    }

    private void OnNavItemClick(string? section)
    {
        activeSection = section;
        ToggleNavMenuMobile();
    }

    private string GetNavLinkClass(string sectionFragment)
    {
        return string.Equals(activeSection, sectionFragment, StringComparison.OrdinalIgnoreCase)
            ? "nav-link active"
            : "nav-link";
    }

    private const string AboutSection = "#about";
    private const string ExperienceSection = "#experience";
    private const string ProjectsSection = "#projects";
    private const string EducationSection = "#education";
    private const string SkillsSection = "#skills";
    private const string InterestsSection = "#interests";
}
